# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration Drupal
/src/web/sites/*/settings.*.php
/src/web/sites/*/services*.yml

# Fichiers de configuration PHP
/src/web/sites/default/php.ini

# Dossiers générés par Drupal
/src/web/sites/*/files
/src/web/sites/*/private

# Dossiers de modules, thèmes et profils contrib
/src/web/modules/contrib
/src/web/themes/contrib
/src/web/profiles/contrib

# Dossiers de dépendances gérés par Composer
/src/vendor
/src/web/core

# Fichiers de configuration d'environnement local
/.env
/.env.local

# Fichiers de logs
/web/sites/*/logs

# Fichiers temporaires
/tmp

# Fichiers de sauvegarde
*.bak
*.swp

# Fichiers de cache
/src/web/sites/*/cache

# Fichiers de configuration d'éditeur
.idea
.vscode

# Fichiers de dépendances front-end (si gérés séparément)
/node_modules
/bower_components

# Fichiers de compilation
/sites/*/css
/sites/*/js

# Fichiers de build
/build

# Fichiers de déploiement
/deploy

# Fichiers de test de couverture
/coverage
